<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Boleto de viaje </title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">
    <center>
    <h2>Viajes el destino feliz</h2>
</center>
<form class="row g-3" action="/cotizacion" method="p">
    <div class="col-md-6">
    <label for="inputnumboleto" class="form-label">Num Boleto:</label>
    <input type="number" id="numboleto" class="form-control" name="numboleto" required="">
  </div> 
  <div class="col-md-6">
    <label for="inputdestino" class="form-label">Destino:</label>
    <input type="text" id="destino" class="form-control" name="destino" required="">
  </div> 
  <div class="col-md-6">
    <label for="inputnomcliente" class="form-label">Nombre del Cliente:</label>
    <input type="" id="nomcliente" class="form-control" name="nomcliente" required="">
  </div> 
  <div class="col-md-6">
    <label for="inputanos" class="form-label">Años cumplidos:</label>
    <input type="number" id="anos" class="form-control" name="anos" required="">
  </div> 
  <div class="col-md-4">
    <label for="inputtipoviaje" class="form-label">Tipo de Viaje:</label>
    <select name="tviaje" id="tviaje" class="form-select">
      <option value="1"> 1 : sencillo</option>
      <option value="2">2 : doble</option>

  
  
    </select><br>
  </div>
  <div class="col-md-4">
  <label for="inputplazo" class="form-label" >plazos</label>
  <select name="plazo" id="plazo" class="form-select" >
      <option value="12">12%</option>
      <option value="24">24%</option>
      <option value="36">36%</option>
      <option value="48">48%</option>
      <option value="60">60%</option>
  </select>
  </div>
  <br>
  <div class="col-12">
  <button  class="btn btn-primary" type="submit">Calcular</button>
  <button class="btn btn-primary" type="reset">limpiar</button>
  </div>
  
  <%
      
  let pagoInicial=0;
  let totalfin=0;
  let pmenusal=0;
  
  if(valor!=null){
    pagoInicial=valor*(pinicial/100);
    totalfin=valor-pagoInicial;
    pmensual=totalfin/plazo;
  
  
  
  
  %>
  <hr>
  <h3>informacion de la cotizacion</h3>
  <hr><br> <center>
  valor del automovil: <%=valor%> <br> porcentaje de pago inicial: <%=pinicial%> <br>
  plazos:<%=plazo%> <br>
  pago Inicial : <%=pagoInicial%> <br>
   Total a financiar: <%=totalfin%><br>
  
  pago Mensual : <%=pmensual%>
  
  <%
  }
  %>
  </center>
   </form>
  
      </div>
  

</body>
</html>